.itemDetailContainerDiv{
    display: flex;
    justify-content:center;
}

.itemDetailContiner{
    height: 100%;
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.itemDetailImgContainer{
    height: 100%;
    width: 50%;
}

.itemDetailImg{
    width: 100%;
}

.itemDetailDescriptionContainer{
    height: 100%;
    width: 50%;
}

.itemDetailPriceContainer{
    display: flex;
    justify-content: center;
}
