.itemListButton{
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.itemListText{
    text-decoration: none;
}

.itemListDiv{
    width: 50%;
}

.itemListImg{
    height: 100%;
    width:100% ;
}